{
  "*.{ts,tsx}": [
    "eslint --max-warnings 0",
    "prettier --write",
    "jest --bail --findRelatedTests --passWithNoTests"
  ],
  "*.{js,mjs}": ["eslint  --max-warnings 0", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "package.json": ["prettier --write"]
}
